#logo{
  height:auto;
  background-color: white;
}
.head{
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}
.dif{
  color:rgb(255, 181, 76)
}
.diff{
  color:#AB5C00;
}
.hr1{
  border: 1px solid black;
}